body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

header {
  width: 1400px;
  height: 348px;

  position: relative;
}
.leftPartNavbar {
  float: left;
  display: flex;
  color: #f9f9f9;
}

.background {
  position: absolute;
  z-index: -1;
  width: 1400px;
  height: 348px;
}

.leftPartNavbar .icon2 {
  padding-left: 115px;
  padding-right: 20px;
  padding-top: 20px;
  width: 70px;
  height: 45px;
}
.leftPartNavbar.second .icon3 {
  padding-left: 115px;
  padding-right: 20px;
  padding-top: 40px;
  width: 70px;
  height: 45px;
}
.leftPartNavbar h3 {
  font-weight: bold;
  font-size: 30px;
  color: #f9f9f9;

  padding-top: 27.02px;
  /* 1 */
}
.leftPartNavbar .topnav {
  overflow: hidden;
}
.aTags {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  padding-top: 32.03px;
  padding-left: 40px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #f9f9f9;
}
.lastChild {
  padding-top: 32.03px;
  padding-right: 127px !important;
}
.topnav .icon {
  display: none;
}
.word {
  position: absolute;
  width: 1170px;
  height: 52px;
  left: 115px;
  top: 165px;
}
.word h2 {
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #f9f9f9;
}
.secondPart {
  position: relative;
  width: 1400px;
  height: 740px;
  background: #f9f9f9;
}
.contact {
  position: absolute;
  left: 8.21%;
  top: 9.46%;
}
.contact p {
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #32495e;
}
iframe {
  width: 1170px;
  height: 360px;
  position: absolute;
  left: 8.21%;
  right: 8.21%;
  top: 23.24%;
  bottom: 28.11%;
}
.text1 {
  position: absolute;
  left: 8.21%;
  top: 78.65%;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #32495e;
}
.text2 {
  position: absolute;
  left: 8.21%;
  top: 84.05%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32495e;
}
.text3 {
  position: absolute;
  left: 27.5%;
  top: 78.65%;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #32495e;
}
.text4 {
  position: absolute;
  left: 27.5%;
  top: 84.05%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32495e;
}
.text5 {
  position: absolute;
  left: 46.79%;
  top: 78.65%;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #32495e;
}
.text6 {
  position: absolute;
  left: 46.79%;
  top: 84.05%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32495e;
}
.thirdPart {
  width: 1400px;
  height: 420px;
  position: relative;
}
.text7 {
  position: absolute;
  left: 8.21%;
  top: 16.66%;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #32495e;
}
.image1 {
  position: absolute;
  left: 8.21%;
  top: 40.95%;
}
.image2 {
  position: absolute;
  left: 25.93%;
  top: 40.95%;
}
.image3 {
  position: absolute;
  left: 43.64%;
  top: 40.95%;
}
.image4 {
  position: absolute;
  left: 61.36%;
  top: 40.95%;
}
.image5 {
  position: absolute;
  left: 79.07%;
  top: 40.95%;
}
footer {
  width: 1400px;
  height: 302px;
  background: #333333;
  position: relative;
}
.svgContainer.second img {
  padding-left: 115px;
  padding-top: 40px;
}
.leftPartNavbar.second h3 {
  padding-left: 20px;
  padding-top: 47px;
}
.footerText1 {
  position: absolute;
  left: 32.93%;
  top: 13.25%;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
}
.footerText2 {
  position: absolute;
  left: 32.93%;
  top: 26.49%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText3 {
  position: absolute;
  left: 32.93%;
  top: 35.43%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText4 {
  position: absolute;
  left: 32.93%;
  top: 44.37%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText5 {
  position: absolute;
  left: 32.93%;
  top: 53.31%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText6 {
  position: absolute;
  left: 32.93%;
  top: 62.25%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText7 {
  position: absolute;
  left: 50.79%;
  top: 13.25%;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
}
.footerText8 {
  position: absolute;
  left: 50.79%;
  top: 26.49%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText9 {
  position: absolute;
  left: 50.79%;
  top: 35.43%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText10 {
  position: absolute;
  left: 50.79%;
  top: 44.37%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText11 {
  position: absolute;
  left: 50.79%;
  top: 53.31%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerText12 {
  position: absolute;
  left: 8.21%;
  top: 81.13%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.footerRightSideText {
  position: absolute;
  left: 88.7%;
  top: 37.08%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
  transform: rotate(-90deg);
}
.footerRightSide img {
  position: absolute;
  left: 89.36%;
  top: 13.25%;
  border-radius: 50%;
  background: #e95258;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  header,
  .secondPart,
  .thirdPart,
  footer {
    width: 100%;
  }
  .word {
    width: 500px;
  }
  .word h2,
  .contact p,
  .thirdPart p {
    font-size: 34px;
  }
  header {
    background-color: #f9f9f9;
    height: 310px;
  }
  .thirdPart {
    height: 310px;
  }
  .secondPart iframe {
    left: 1.95%;
    top: 112px;
    width: 98.5%;
  }
  .footerText12 {
    width: 230px;
  }
  .background {
    width: 100%;
    z-index: 0;
    left: 0;
    top: -5.8%;
  }

  .icon2 {
    width: 48px !important;
    height: 31px !important;
    padding-top: 14px !important;
    padding-bottom: 15px;
    padding-left: 15px !important;
  }
  .leftPartNavbar h3 {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 0;
    font-size: 17px;
    color: #32495e;
  }
  .lastChild {
    padding-right: 22px !important;
  }
  .aTags a {
    color: #32495e;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 38px;
  }
  .word {
    left: 15px;
    top: 122px;
  }
  .contact {
    left: 15px;
    top: 20px;
  }
  .text1 {
    left: 1.95%;
    font-size: 14px;
  }
  .text2 {
    left: 1.95%;
    font-size: 12px;
  }
  .text3 {
    left: 34.9%;
    font-size: 14px;
  }
  .text4 {
    left: 34.9%;
    font-size: 12px;
  }
  .text5 {
    left: 67.71%;
    font-size: 14px;
  }
  .text6 {
    left: 67.71%;
    font-size: 12px;
  }

  .text7 {
    left: 15px;
  }
  .img {
    width: 112px;
    height: 112px;
  }
  .image1 {
    left: 15px;
  }
  .image2 {
    left: 22.27%;
  }
  .image3 {
    left: 42.71%;
  }
  .image4 {
    left: 63.02%;
  }
  .image5 {
    left: 83.46%;
  }
  .leftPartNavbar.second .icon3 {
    padding-left: 15px !important;
    padding-top: 60px !important;
  }
  .leftPartNavbar.second h3 {
    font-size: 30px;
    margin: 0 auto;
    padding-top: 67px;
    color: #f9f9f9;
  }
  .footerRightSideText {
    left: 92.89%;
    top: 39.37%;
    font-size: 12px;
  }
  .footerRightSide img {
    top: 16.44%;
  }
  .footerText2,
  .footerText3,
  .footerText4,
  .footerText5,
  .footerText6,
  .footerText8,
  .footerText9,
  .footerText10,
  .footerText11,
  .footerText12 {
    font-size: 12px;
    font-weight: 400;
  }
  .footerText1,
  .footerText7 {
    font-size: 14px;
  }
  .footerText1 {
    left: 34.9%;
    top: 16.44%;
  }
  .footerText2,
  .footerText3,
  .footerText4,
  .footerText5,
  .footerText6 {
    left: 34.9%;
  }
  .footerText7,
  .footerText8,
  .footerText9,
  .footerText10,
  .footerText11 {
    left: 67.45%;
  }
  .footerText7 {
    top: 16.44%;
  }
  .footerText8 {
    top: 28.22%;
  }
  .footerText9 {
    top: 36.16%;
  }
  .footerText10 {
    top: 44.11%;
  }
  .footerText11 {
    top: 52.05%;
  }
  .footerText2 {
    top: 28.22%;
  }
  .footerText3 {
    top: 36.16%;
  }
  .footerText4 {
    top: 44.11%;
  }
  .footerText5 {
    top: 52.05%;
  }
  .footerText6 {
    top: 60%;
  }
  .footerText12 {
    left: 15px;
    top: 215px;
  }
  footer .icon3 {
    padding-right: 0 !important;
  }
  .leftPartNavbar.second h3 {
    font-size: 30px;
  }
  .aTags a {
    font-size: 12px;
  }
  .footerRightSide img {
    left: 93.62%;
    top: 16.44%;
  }
}
