body {
  font-family: "Roboto", sans-serif;
}
header {
  background: url(./Rectangle\ 45.svg) no-repeat center center fixed;
  background-size: cover;
}
.headerContainer {
  max-width: 1170px;
  margin: 0 auto;
}
.icon2 {
  padding-right: 20px;
  padding-top: 20px;
}
.leftPartNavbar h3 {
  font-weight: bold;
  font-size: 30px;
  color: #f9f9f9;
  padding-top: 27.02px;
}
.leftPartNavbar {
  display: flex;
  float: left;
}
.aTags {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  padding-top: 32.03px;
  padding-left: 40px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #f9f9f9;
}
.active {
  padding-left: 422px !important;
}
.icon {
  display: none !important;
}
.word {
  padding-top: 165px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #f9f9f9;
}
.word2 {
  padding-bottom: 94px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.firstSection,
.thirdSection {
  background: #2b3946;
}
.firstSectionContainer {
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
}
.lineContainer {
  width: 85px;
  padding-top: 20px;

  padding-bottom: 15px;
}
.lineContainer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.line {
  background-color: #e95258;
  height: 1px;
}
.sectionText1,
.sectionText2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
  padding-left: 40px;
  padding-top: 20px;
}
.secondSection,
.fourthSection {
  background-color: #32495e;
}
.sectionText {
  max-width: 1170px;
  padding-top: 50px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #f9f9f9;
  margin: 0 auto;
}
.cardContainer {
  max-width: 1170px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.cardPart {
  background: #f9f9f9;
  margin-top: 153px;
}
.second {
  background: #e95258;
  color: #f9f9f9;
}
.card {
  width: 24%;
  padding-top: 50px;
  background-size: cover;
  margin-top: 20px;
  color: #32495e;
}
.part1 {
  background: url(./Rectangle\ 50.svg);
}
.part2 {
  background: url(./Rectangle\ 51.svg);
}
.part3 {
  background: url(./Rectangle\ 52.svg);
}
.part4 {
  background: url(./Rectangle\ 53.svg);
}
.part5 {
  background: url(./Rectangle\ 54.svg);
}
.part6 {
  background: url(./Rectangle\ 55.svg);
}
.part7 {
  background: url(./Rectangle\ 56.svg);
}
.part8 {
  background: url(./Rectangle\ 57.svg);
}
.part9 {
  background: url(./Rectangle\ 58.svg);
}
.part10 {
  background: url(./Rectangle\ 59.svg);
}
.part11 {
  background: url(./Rectangle\ 60.svg);
}
.part12 {
  background: url(./Rectangle\ 61.svg);
}
.cardText1 {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  padding-top: 19px;
  padding-left: 20px;
}
.cardText2 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
}
.cardText3 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.card:hover .cardPart {
  background: #e95258;
  color: #f9f9f9;
}
.partion1:hover .cardPart,
.partion2:hover .cardPart,
.partion3:hover .cardPart,
.partion4:hover .cardPart,
.partion5:hover .cardPart,
.partion6:hover .cardPart,
.partion7:hover .cardPart,
.partion8:hover .cardPart {
  background: #f9f9f9 !important;
  color: #32495e !important;
}
.part9,
.part10,
.part11,
.part12,
.partion5,
.partion6,
.partion7,
.partion8 {
  margin-bottom: 50px;
}
.partion1 {
  background: url(./Rectangle\ 62.svg);
}
.partion2 {
  background: url(./Rectangle\ 63.svg);
}

.partion3 {
  background: url(./Rectangle\ 64.svg);
}

.partion4 {
  background: url(./Rectangle\ 65.svg);
}

.partion5 {
  background: url(./Rectangle\ 66.svg);
}
.partion6 {
  background: url(./Rectangle\ 67.svg);
}
.partion7 {
  background: url(./Rectangle\ 68.svg);
}
.partion8 {
  background: url(./Rectangle\ 69.svg);
}
.fifthSection {
  background: white;
}
.fifthSectionContainer {
  max-width: 1170px;
  margin: 0 auto;
}
.fifthSectionContainer p {
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #32495e;
  padding-top: 70px;
}
.picContainer {
  display: flex;
  justify-content: space-between;
}
.picContainer img {
  width: 20%;
  height: 194px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.picContainer img:not(:first-child) {
  padding-left: 50px;
}
.sixthSection {
  background: #f9f9f9;
}
.sixthSectionContainer {
  max-width: 1170px;
  margin: 0 auto;
}
.sixthSectionContainer > p {
  padding-top: 70px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #32495e;
}
.sixthSectionContainer iframe {
  width: 100%;
  padding-top: 50px;
  height: 360px;
}
.footerText1,
.footerText2,
.footerText3 {
  padding-top: 50px;
}
.footerText2,
.footerText3 {
  padding-left: 60px;
}
.footerText1,
.footerText2,
.footerText3 p:first-child {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #32495e;
}
.footerText2 p:last-child {
  padding-bottom: 46px;
}
.footerTextPart {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32495e;
  padding-top: 20px;
}
.textContainer {
  display: flex;
}
footer {
  background: #333333;
}
.footerIcon {
  padding-top: 40px;
}
.footerContainer {
  max-width: 1170px;
  margin: 0 auto;
}
.footer {
  display: flex;
}
.footer > p {
  padding-top: 47px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #f9f9f9;
}
.footerDiv1,
.footerDiv2 {
  padding-top: 40px;
}
.footerDiv1 {
  padding-left: 140px;
  padding-right: 70px;
}
.footerp1,
.footerp2 {
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
}
.footerp2 {
  padding-right: 360px;
}
.footerDiv1:not(:first-child),
.footerDiv2:not(:first-child) {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}
.endText {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
  padding: 40px 0;
}
.concontainer {
  padding-top: 40px;
}
.fixedIcon {
  padding-bottom: 18px;
}
.fixedIcon img {
  position: fixed;
  bottom: 218px;
}
.rotateText {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
  transform: rotate(270deg);
  width: 72px;
  margin-left: -19px;
}
.fixed {
  cursor: pointer;
}
